{% extends 'Admin_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('A_home') }}
{% endblock %}

{% block body %}
    <div class="containers">
        <h1>Admin Home</h1>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('A_home') }}
{% endblock %}