.containers{
  #posts{
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    justify-content: space-between;
    align-content: space-around;

    .post{
      display: flex;
      flex-direction: column;
      width: min-content;
      border: 1px solid #000;

      div{
        display: flex;
      }

      img{
        width: 316.7px;
        height: 180px;
      }
    }
  }
}